@media screen and (max-width:870px){
	
	.main_body{
		width:94.9%;
	}
	
}
@media screen and (max-width:850px){
	
	.main_body{
		width:94.8%;
	}
	
}@media screen and (max-width:835px){
	
	.main_body{
		width:94.7%;
	}
	
}
@media screen and (max-width:818px){
	
	.main_body{
		width:94.6%;
	}
	
}
@media screen and (max-width:803px){
	
	.main_body{
		width:94.5%;
	}
	
}
@media screen and (max-width:789px){
	
	.main_body{
		width:94.4%;
	}
	
}
@media screen and (max-width:775px){
	
	.main_body{
		width:94.3%;
	}
	
}
@media screen and (max-width:762px){
	
	.main_body{
		width:94.2%;
	}
	
}
@media screen and (max-width:749px){
	
	.main_body{
		width:94.1%;
	}
	
}
@media screen and (max-width:737px){
	
	.main_body{
		width:94%;
	}
	
}
@media screen and (max-width:725px){
	
	.main_body{
		width:93.9%;
	}
	
}
@media screen and (max-width:713px){
	
	.main_body{
		width:93.8%;
	}
	
}
@media screen and (max-width:702px){
	
	.main_body{
		width:93.7%;
	}
	
}
@media screen and (max-width:691px){
	
	.main_body{
		width:93.6%;
	}
	
}
@media screen and (max-width:680px){
	
	.main_body{
		width:93.5%;
	}
	
}
@media screen and (max-width:670px){
	
	.main_body{
		width:93.4%;
	}
	
}
@media screen and (max-width:660px){
	
	.main_body{
		width:93.3%;
	}
	
}
@media screen and (max-width:651px){
	
	.main_body{
		width:93.2%;
	}
	
}
@media screen and (max-width:641px){
	
	.main_body{
		width:93.1%;
	}
	
}
@media screen and (max-width:632px){
	
	.main_body{
		width:93%;
	}
	
}
@media screen and (max-width:623px){
	
	.main_body{
		width:92.9%;
	}
	
}
@media screen and (max-width:615px){
	
	.main_body{
		width:92.8%;
	}
	
}
@media screen and (max-width:607px){
	
	.main_body{
		width:92.7%;
	}
	
}
@media screen and (max-width:598px){
	
	.main_body{
		width:92.6%;
	}
	
}
@media screen and (max-width:591px){
	
	.main_body{
		width:92.5%;
	}
	
}
@media screen and (max-width:583px){
	
	.main_body{
		width:92.4%;
	}
	
}
@media screen and (max-width:576px){
	
	.main_body{
		width:92.3%;
	}
	
}
@media screen and (max-width:568px){
	
	.main_body{
		width:92%;
	}
	
}
@media screen and (max-width:561px){
	
	.main_body{
		width:92%;
	}
	
}
@media screen and (max-width:554px){
	
	.main_body{
		width:92%;
	}
	
}
@media screen and (max-width:548px){
	
	.main_body{
		width:91.9%;
	}
	
}
@media screen and (max-width:576px){
	
	.main_body{
		width:92.3%;
	}
	
}
@media screen and (max-width:541px){
	
	.main_body{
		width:91.8%;
	}
	
}
@media screen and (max-width:535px){
	
	.main_body{
		width:91.7%;
	}
	
}
@media screen and (max-width:529px){
	
	.main_body{
		width:91.6%;
	}
	
}
@media screen and (max-width:522px){
	
	.main_body{
		width:91.5%;
	}
	
}
@media screen and (max-width:516px){
	
	.main_body{
		width:91.4%;
	}
	
}
@media screen and (max-width:511px){
	
	.main_body{
		width:91.3%;
	}
	
}
@media screen and (max-width:505px){
	
	.main_body{
		width:91.2%;
	}
	
}
@media screen and (max-width:499px){
	
	.main_body{
		width:91.1%;
	}
	
}
@media screen and (max-width:493px){
	
	.main_body{
		width:91%;
	}
	
}
@media screen and (max-width:489px){
	
	.main_body{
		width:90.9%;
	}
	
}
@media screen and (max-width:483px){
	
	.main_body{
		width:90.8%;
	}
	
}
@media screen and (max-width:478px){
	
	.main_body{
		width:90.7%;
	}
	
}
@media screen and (max-width:473px){
	
	.main_body{
		width:90.6%;
	}
	
}
@media screen and (max-width:468px){
	
	.main_body{
		width:90.5%;
	}
	
}
@media screen and (max-width:464px){
	
	.main_body{
		width:90.4%;
	}
	
}
@media screen and (max-width:459px){
	
	.main_body{
		width:90.3%;
	}
	
}
@media screen and (max-width:454px){
	
	.main_body{
		width:90.2%;
	}
	
}
@media screen and (max-width:450px){
	
	.main_body{
		width:90.1%;
	}
	
}
@media screen and (max-width:446px){
	
	.main_body{
		width:90%;
	}
	
}
@media screen and (max-width:441px){
	
	.main_body{
		width:89.9%;
	}
	
}
@media screen and (max-width:437px){
	
	.main_body{
		width:89.8%;
	}
	
}
@media screen and (max-width:433px){
	
	.main_body{
		width:89.7%;
	}
	
}
@media screen and (max-width:429px){
	
	.main_body{
		width:89.6%;
	}
	
}
@media screen and (max-width:425px){
	
	.main_body{
		width:89.5%;
	}
	
}
@media screen and (max-width:421px){
	
	.main_body{
		width:89.4%;
	}
	
}
@media screen and (max-width:417px){
	
	.main_body{
		width:89.3%;
	}
	
}
@media screen and (max-width:414px){
	
	.main_body{
		width:89.2%;
	}
	
}
@media screen and (max-width:410px){
	
	.main_body{
		width:89.1%;
	}
	
}
@media screen and (max-width:406px){
	
	.main_body{
		width:89%;
	}
	
}
@media screen and (max-width:403px){
	
	.main_body{
		width:88.9%;
	}
	
}
@media screen and (max-width:399px){
	
	.main_body{
		width:88.7%;
	}
	
}
@media screen and (max-width:392px){
	
	.main_body{
		width:88.6%;
	}
	
}
@media screen and (max-width:389px){
	
	.main_body{
		width:88.5%;
	}
	
}
@media screen and (max-width:386px){
	
	.main_body{
		width:88.4%;
	}
	
}
@media screen and (max-width:383px){
	
	.main_body{
		width:88.3%;
	}
	
}
@media screen and (max-width:380px){
	
	.main_body{
		width:88.2%;
	}
	
}
@media screen and (max-width:377px){
	
	.main_body{
		width:88.1%;
	}
	
}
@media screen and (max-width:374px){
	
	.main_body{
		width:88%;
	}
	
}
@media screen and (max-width:371px){
	
	.main_body{
		width:87.9%;
	}
	
}
@media screen and (max-width:368px){
	
	.main_body{
		width:87.8%;
	}
	
}
@media screen and (max-width:365px){
	
	.main_body{
		width:87.7%;
	}
	
}
@media screen and (max-width:362px){
	
	.main_body{
		width:87.6%;
	}
	
}
@media screen and (max-width:359px){
	
	.main_body{
		width:87.5%;
	}
	
}
@media screen and (max-width:356px){
	
	.main_body{
		width:87.4%;
	}
	
}
@media screen and (max-width:354px){
	
	.main_body{
		width:87.3%;
	}
	
}
@media screen and (max-width:351px){
	
	.main_body{
		width:87.2%;
	}
	
}
@media screen and (max-width:348px){
	
	.main_body{
		width:87.1%;
	}
	
}
@media screen and (max-width:346px){
	
	.main_body{
		width:87%;
	}
	
}
@media screen and (max-width:343px){
	
	.main_body{
		width:86.9%;
	}
	
}
@media screen and (max-width:341px){
	
	.main_body{
		width:86.8%;
	}
	
}
@media screen and (max-width:338px){
	
	.main_body{
		width:86.7%;
	}
	
}
@media screen and (max-width:336px){
	
	.main_body{
		width:86.6%;
	}
	
}
@media screen and (max-width:334px){
	
	.main_body{
		width:86.5%;
	}
	
}
@media screen and (max-width:331px){
	
	.main_body{
		width:86.4%;
	}
	
}
@media screen and (max-width:329px){
	
	.main_body{
		width:86.3%;
	}
	
}
@media screen and (max-width:327px){
	
	.main_body{
		width:86.2%;
	}
	
}
@media screen and (max-width:324px){
	
	.main_body{
		width:86.1%;
	}
	
}
@media screen and (max-width:322px){
	
	.main_body{
		width:86%;
	}
	
}
@media screen and (max-width:320px){
	
	.main_body{
		width:85.9%;
	}
	
}
@media screen and (max-width:318px){
	
	.main_body{
		width:85.8%;
	}
	
}
@media screen and (max-width:316px){
	
	.main_body{
		width:85.7%;
	}
	
}
@media screen and (max-width:314px){
	
	.main_body{
		width:85.6%;
	}
	
}
@media screen and (max-width:312px){
	
	.main_body{
		width:85.5%;
	}
	
}
@media screen and (max-width:309px){
	
	.main_body{
		width:85.4%;
	}
	
}
@media screen and (max-width:307px){
	
	.main_body{
		width:85.3%;
	}
	
}
@media screen and (max-width:306px){
	
	.main_body{
		width:85.1%;
	}
	
}
@media screen and (max-width:302px){
	
	.main_body{
		width:85%;
	}
	
}
@media screen and (max-width:300px){
	
	.main_body{
		width:84.9%;
	}
	
}
@media screen and (max-width:298px){
	
	.main_body{
		width:84.8%;
	}
	
}
@media screen and (max-width:296px){
	
	.main_body{
		width:84.7%;
	}
	
}
@media screen and (max-width:294px){
	
	.main_body{
		width:84.6%;
	}
	
}
@media screen and (max-width:292px){
	
	.main_body{
		width:84.5%;
	}
	
}
@media screen and (max-width:291px){
	
	.main_body{
		width:84.4%;
	}
	
}
@media screen and (max-width:289px){
	
	.main_body{
		width:84.3%;
	}
	
}
@media screen and (max-width:287px){
	
	.main_body{
		width:84.2%;
	}
	
}
@media screen and (max-width:285px){
	
	.main_body{
		width:84.1%;
	}
	
}
@media screen and (max-width:284px){
	
	.main_body{
		width:84%;
	}
	
}
@media screen and (max-width:282px){
	
	.main_body{
		width:83.9%;
	}
	
}
@media screen and (max-width:280px){
	
	.main_body{
		width:83.8%;
	}
	
}
@media screen and (max-width:279px){
	
	.main_body{
		width:83.7%;
	}
	
}
@media screen and (max-width:277px){
	
	.main_body{
		width:83.6%;
	}
	
}
@media screen and (max-width:276px){
	
	.main_body{
		width:83.5%;
	}
	
}


